APP_HOST=kadenza-203-0-113-10.sslip.io

JWT_SECRET=change-me-to-a-random-string-with-at-least-32-bytes
JWT_ISSUER=agileflow-user-service
JWT_AUDIENCE=agileflow-api
INTERNAL_API_KEY=change-me-to-a-random-internal-api-key

USER_DB_NAME=userdb
USER_DB_USER=user
USER_DB_PASS=change-me-user-db-password

PROJECT_DB_NAME=projectdb
PROJECT_DB_USER=project
PROJECT_DB_PASS=change-me-project-db-password

TASK_DB_NAME=taskdb
TASK_DB_USER=task
TASK_DB_PASS=change-me-task-db-password

POKER_DB_NAME=pokerdb
POKER_DB_USER=poker
POKER_DB_PASS=change-me-poker-db-password

RABBITMQ_USER=agileflow
RABBITMQ_PASS=change-me-rabbitmq-password
RABBITMQ_VHOST=/

MAIL_ENABLED=false
MAIL_FROM=no-reply@agileflow.local
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_AUTH=true
SMTP_STARTTLS=true

GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_ID=

RESET_PASSWORD_BASE_URL=https://kadenza-203-0-113-10.sslip.io/reset-password
AVATAR_PUBLIC_BASE_URL=https://kadenza-203-0-113-10.sslip.io/api/assets/avatars
GIT_WEBHOOK_BASE_URL=https://kadenza-203-0-113-10.sslip.io/task-api

USER_SERVICE_JPA_DDL_AUTO=update
PROJECT_SERVICE_JPA_DDL_AUTO=update
TASK_SERVICE_JPA_DDL_AUTO=update
POKER_SERVICE_JPA_DDL_AUTO=update
NOTIFICATIONS_QUEUE_ENABLED=true
